<html>
  <head>
    <title><%= title %></title>
    <script src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <!--
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   -->
     <link rel='stylesheet' href='/stylesheets/style.css'>
     <script src="javascripts/menu.js"></script>
     <script src="javascripts/header.js"></script>
  </head>
  <body>
    <% include descripcionplatillo %>
    <!-- Variable de control para identificar la página en la que el usuario se encuentra -->
    <script type="text/javascript">
       var paginaCargada = 'menu';
    </script>

    <!-- INICIO DE HEADER... -->
    <div>
          <div class="col-12">
              <h3 class="titleFecha">Fecha</h3>
          </div>
          <!-- Div creado para colocar los items del header -->
          <div class="col-12 alineaHeader">
             <!-- Configuración de botón atrás -->
              <div id="btn_regresar" class="col-1 center ocultar_elementos">
                  <img class="btn_regresar" src="/images/go_back.svg">
              </div>
              <!-- Configuración de titulo de pantalla -->
              <div id="titleEncabezado" class="col-10">
                  <p class="titleEnc"><%= title %></p>
              </div>
              <!-- Configuración de imagen de usuario y nombres -->
              <div id="identificacionUsuario" class="col-2 ocultar_elementos">
                  <div class="col-10">
                      <div class="row">
                        <div class="col-9">
                          <div class="row end">
                            <p class="titleNombreHeader"><%= name %></p>
                          </div>
                          <div class="row end">
                            <p class="titleNombreSub"><%= lastname %></p>
                          </div>
                        </div>
                        <div class="col-3">
                          <img id="img_usuario" class="img_usuario" src="/images/image_user.svg">
                        </div>
                      </div>
                 </div>
              </div>
          </div>
    </div>
    <!-- Apartado que se encarga de mostrar las opciones de usuario "Solo cerrar sesión" -->
    <div id="logOutUser" class="cont-opcionesUsuario ocultar_elementos">
        <p class="center titulo-opcionesUsuario">Opciones</p>
        <div id="bnt_logout" class="opc-cerrarSesion">
            <img src="images/logout.svg" width="20px" height="20px" class="tamImgCerrarSesion">
            <p class="textoCerrarSesion">Cerrar sesión</p>
        </div>
    </div>
    <!-- FIN DE HEADER..... -->

    <div style="display: flex; margin-top: 2%">
      <div class="col-7 flexcroll">
        <!------------------------------ MENU  ---------------------------->
        <% if (menu.length > 0){ %>
          <%for(var titulo=0; titulo < menu.length; titulo++) { %>
            <div class="row" >
              <div id="divEntradas" class="col-12 tituloMenu">
                <img src="/images/triangle.svg" style="margin-top: 10px;margin-left: 5px;margin-right: 5px;margin-bottom: 5px;">
                <p style="margin-top: 7px;"><%= menu[titulo].name %></p>
              </div>
            </div>
            <% if (menu[titulo].platillos.length > 0){ %>
              <div class="bordeMenu">
                <% for(var i=0; i< menu[titulo].platillos.length; i++){ %>
                  <% var idT = menu[titulo].platillos[i].idplatillo %>
                  <div id=<%= "idPadre0" + idT %> class="espItem" idplatillo="<%= menu[titulo].platillos[i].idplatillo %>" precio="<%= menu[titulo].platillos[i].precio %>" titulo="<%= menu[titulo].platillos[i].nombre %>" tiempo="<%= menu[titulo].platillos[i].tiempo %>" descripcion="<%= menu[titulo].platillos[i].descripcion %>" imagen="<%= menu[titulo].platillos[i].imagen %>">
                    <div class="divOpcion">
                      <img class="menuImg" src="<%= menu[titulo].platillos[i].imagen %>"  >
                      <div class="botonMas">
                        <img id=<%= "idMas0" + idT %> src="/images/add.svg" height="50" width="50">
                      </div>
                      <div class="botonMenos">
                        <img id=<%= "idMenos0" + idT %> src="/images/minus.svg" height="50" width="50">
                      </div>
                      <div class="botonInfo">
                        <img id=<%= "idInfo" + idT %> src="/images/info.svg" height="50" width="50">
                      </div>

                      <div class="textoCentro">
                        <%= menu[titulo].platillos[i].nombre %>
                      </div>
                      <div class="textoPrecio">
                        $<%= menu[titulo].platillos[i].precio %>
                      </div>
                    </div>
                  </div>
                <% } %>
                </div>
            <% } %>
          <% } %>
        <% } %>

      </div>



      <!------------------------------ COMANDA ACTIVA CON FOR  ---------------------------->
      <div class="col-5">
        <div class="col-12">
          <p class="titleEnc">Comanda</p>
          <div class="row">
            <table style="color:#FFF;">
              <tr>
                <th>Platillo</th>
                <th class="tCant">Cantidad</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </table>
            <table id="tablaComanda" style="color:#FFF;">
               <% if (ComandaVacia == "vacia"){ %>
               <% } else { %>
               <% for(var i=0; i < comandaActiva.platillos.length; i++) { %>
              <tr>
                <td > <%= comandaActiva.platillos[i].nombre %> </td>
                <td class="tCant">
                  <div class="row">
                    <div class="col-4 middle">
                      <img id="btn_add001" src="/images/add.svg" height="35" width="35" style="margin-left: -5px;">
                    </div>
                    <div class="col-4 center" style="margin:auto;font-size: 20px;">
                      <p> <%= comandaActiva.platillos[i].cantidad %> </p>
                    </div>
                    <div class="col-4 middle">
                      <img id="btn_del001" src="/images/minus.svg" height="35" width="35">
                    </div>
                  </div>
              </td>
              <td style="font-size: 20px;">
              <% var subtotal = comandaActiva.platillos[i].cantidad * comandaActiva.platillos[i].precio %>
                <p> $  <%= subtotal  %>  </p>
              </td>
              <td>
                <div class="row">
                  <div class="col-6 start">
                    <img id="btn_notas001" src="/images/notebook.svg" height="35" width="35">
                  </div>
                  <div class="col-6 end">
                    <img id="btn_eliminar001" src="/images/garbage.svg" height="35" width="35">
                  </div>
                </div>
              </td>
              <% } %>
              <% } %>
              </tr>

            </table>
            <table style="color:#FFF;">
              <tr style="border-top: 1px solid #ddd;">
                <td colspan="2" class="end" style="font-size:20px;">Total</td>
                <td>
                  <% if (ComandaVacia == "vacia"){ %>
                   <% } else { %>
                    <% var totalfinal = 0 %>
                    <% var subtotal = 0 %>
                    <% for(var i=0; i < comandaActiva.platillos.length; i++) { %>

                         <%  subtotal = comandaActiva.platillos[i].cantidad * comandaActiva.platillos[i].precio
                              totalfinal = totalfinal + subtotal
                         %>
                    <% } %>
                    <% }%>
                      <p style="font-size:20px;">$ <%= totalfinal %></p>
                </td>
            </tr>
            <tr>
              <td colspan="3" class="end" style="font-size:20px;">
                <div class="row">
                  <div class="col-9 end">
                    <img src="/images/clock.svg" height="40" width="40">
                  </div>
                  <div class="col-3 center" style="margin:auto">
                    <%  if (ComandaVacia == "vacia"){    %>
                    <% } else  { %>
                      <% var TiempoFinal = 0 %>
                      <% var Tiempo = 0 %>
                      <% for(var i=0; i < comandaActiva.platillos.length; i++) { %>

                           <%  Tiempo = comandaActiva.platillos[i].tiempo * 1
                                TiempoFinal = TiempoFinal + Tiempo
                           %>
                      <% } %>
                      <% } %>
                            <p><%= TiempoFinal %> min</p>
                  </div>
                </div>
              </td>
            </tr>
            </table>
        </div>
<!--
              <section id="cobro">
                <p class="titleEnc">Comanda</p>
                <div class="row">
                  <table id="tablaComanda" style="color:#FFF;">
                    <tr>
                      <th>Platillo</th>
                      <th class="tCant">Cantidad</th>
                      <th>Subtotal</th>
                      <th></th>
                    </tr>
                     <% if (ComandaVacia == "vacia"){ %>
                     <% } else { %>
                     <% for(var i=0; i < comandaActiva.platillos.length; i++) { %>
                    <tr>
                      <td > <%= comandaActiva.platillos[i].nombre %> </td>
                      <td class="tCant">
                        <div class="row">
                          <div class="col-4 middle">
                            <img id="btn_add001" src="/images/add.svg" height="35" width="35" style="margin-left: -5px;">
                          </div>
                          <div class="col-4 center" style="margin:auto;font-size: 20px;">
                            <p> <%= comandaActiva.platillos[i].cantidad %> </p>
                          </div>
                          <div class="col-4 middle">
                            <img id="btn_del001" src="/images/minus.svg" height="35" width="35">
                          </div>
                        </div>
                    </td>
                    <td style="font-size: 20px;">
                    <% var subtotal = comandaActiva.platillos[i].cantidad * comandaActiva.platillos[i].precio %>
                      <p> $  <%= subtotal  %>  </p>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-6 start">
                          <img id="btn_notas001" src="/images/notebook.svg" height="35" width="35">
                        </div>
                        <div class="col-6 end">
                          <img id="btn_eliminar001" src="/images/garbage.svg" height="35" width="35">
                        </div>
                      </div>
                    </td>
                    <% } %>
                    <% } %>
                    <tr style="border-top: 1px solid #ddd;">
                      <td colspan="2" class="end" style="font-size:20px;">Total</td>
                      <td>
                    <% if (ComandaVacia == "vacia"){ %>
                     <% } else { %>
                      <% var totalfinal = 0 %>
                      <% var subtotal = 0 %>
                      <% for(var i=0; i < comandaActiva.platillos.length; i++) { %>

                           <%  subtotal = comandaActiva.platillos[i].cantidad * comandaActiva.platillos[i].precio
                                totalfinal = totalfinal + subtotal
                           %>
                      <% } %>
                      <% }%>
                        <p style="font-size:20px;">$ <%= totalfinal %></p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="end" style="font-size:20px;">
                        <div class="row">
                          <div class="col-9 end">
                            <img src="/images/clock.svg" height="40" width="40">
                          </div>
                          <div class="col-3 center" style="margin:auto">

                    <%  if (ComandaVacia == "vacia"){    %>
                    <% } else  { %>
                      <% var TiempoFinal = 0 %>
                      <% var Tiempo = 0 %>
                      <% for(var i=0; i < comandaActiva.platillos.length; i++) { %>

                           <%  Tiempo = comandaActiva.platillos[i].tiempo * 1
                                TiempoFinal = TiempoFinal + Tiempo
                           %>
                      <% } %>
                      <% } %>
                            <p><%= TiempoFinal %> min</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tr>

                  </table>

                </div>
-->
        <div class="row">
          <div class="col-6">
            <button id="btnCancelar" class="btnCancelar">Cancelar orden</button>
          </div>
          <div class="col-6 end">
            <button id="btnAceptar" class="btnAceptar">Realizar orden</button>
          </div>
        </div>
      </div>

  </div>
  <script type="text/javascript">
     var paginaCargada = 'menu';
  </script>
  </body>
</html>
