<div id="divNota" class="container fondo_cargando">
    <div class="col-12">
        <div class="row middle center tamVentana">
            <div class="fondo_msjAlerta">
                <div class="posicionTitulo">
                   <p id="pTituloNota" class="titulo_msjAlerta">Nota del platillo</p>
                   <img id="imgCerrarFloatN" class="img_salir_msjAlerta" src="/images/exit_button.svg">
                </div>
                <div class="col-12 contenido_msjAlerta flexcroll">
                  <textarea id="txtNota" name="message" rows="10" cols="30" class="tipoNota">
                  </textarea>
                </div>
                <div class="posicionbtn_msjAlerta">
                    <button id="btnAceptarFloatN" class="btn_In">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
