/* Archivo que se encarga de personalizar el HEADER */
/* Clase declarada para alineamiento de header */
.alineaHeader {
    display: flex;
}

/* Clase creada para el campo de fecha en la barra de nav. */
.titleFecha {
    margin: 15px;
    color: #FFF;
    font-weight: lighter;
    font-size: larger;
}

/* Clase creada para el titulo del encabezado de la página*/
.titleEnc {
    color: #FFF;
    font-size: 35px;
    letter-spacing: -0.7px;
    font-weight: lighter;
}

/* Clase creada para definir el tamaño del botón de regresar */
.btn_regresar{
    height : 40px;
    width : 40px;
    cursor: pointer;
}

/* Clase creada para definir el tamaño de la imagen de usuario */
.img_usuario {
    height : 40px;
    width : 40px;
    cursor: pointer;
}

/* Estilo para nombre de usuario en el header */
.titleNombreHeader{
    font-size: 20px;
}

/* Estilo para contenedor de opciones de usuario */
.cont-opcionesUsuario {
    width: 135px;
	height: 44px;
	margin-right: 4%;
	background-color: #c13434;
	position: absolute;
	right: 0;
	border-width: 0.5px;
    z-index: 6;
}

/* Titulo del panel de opciones */
.titulo-opcionesUsuario{
    color: #FFF; 
    font-size: 15px;
}

/* Opción cerrar sesión de usuario */
.opc-cerrarSesion{
    display: flex; 
    cursor: pointer; 
    margin-top: 4px;
}

/* Estilos para la opción de cerrar sesión. Imagen y texto */
.tamImgCerrarSesion{
    margin-left: 4px;
}

.textoCerrarSesion{
    color: #FFF;
    margin-left: 6px;
    font-size: 16px;
}

@media (max-width: 1100px) {
    /* Estilo para contenedor de opciones de usuario */
    .cont-opcionesUsuario {
        width: 135px;
        height: 44px;
        margin-right: 4%;
        background-color: #c13434;
        position: absolute;
        right: 0;
        border-width: 0.5px;
        z-index: 6;
    }
}

@media (max-width: 700px) {
    /* Estilo para contenedor de opciones de usuario */
    .cont-opcionesUsuario {
        width: 135px;
        height: 44px;
        margin-right: 2.5%;
        background-color: #1db974;
        position: absolute;
        right: 0;
        border-width: 0.5px;
        z-index: 6;
    }
}

@media (max-width: 500px) {
    /* Estilo para contenedor de opciones de usuario */
    .cont-opcionesUsuario {
        width: 135px;
        height: 44px;
        margin-right: 1%;
        background-color: #1db974;
        position: absolute;
        right: 0;
        border-width: 0.5px;
        z-index: 6;
    }
}