/* Hoja de estilos para mensaje de alerta */
/* Clase creada para la ventana que muestra un mensaje */
.fondo_cargando{
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    z-index: 5;
    position: absolute;
    top : 0px;
    right: 0px;
    left: 0px;
    display: none;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
}

/* Fondo del mensaje Alerta */
.fondo_msjAlerta{
    background-color: rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-position: center;
    height: 281px;
    position: relative;
    width: 450px;
    border: 2px solid #979797;
    margin-top: 170px;

}

/* Clase para posicionar el titulo en el mensaje de alerta */
.posicionTitulo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

/* Propiedades para el titulo de mensaje alerta */
.titulo_msjAlerta{
    font-size: 20px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
}

/* Posición del botón en la ventana de mensaje alerta*/
.posicionbtn_msjAlerta{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
}

/* Propiedades de la imagen x de la ventana mensaje alerta */
.img_salir_msjAlerta{
    height:25px;
    width:25px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
}

/* Propiedades del texto de la ventana mensaje alerta */
.contenido_msjAlerta{
    display:flex;
    height: 55%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.img_cont_msjAlerta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 15px;
}

.tam_img_cont_msjAlerta{
    height:100%;
    width: 100%;
}

/* <--- INICIO ESTILOS CREADOS PARA MODIFICAR EL COLOR DEL SCROLL ---> */
.flexcroll{
    overflow:auto;
}

.flexcroll{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-darkshadow-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #494545;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* <--- FIN ESTILOS CREADOS PARA MODIFICAR EL COLOR DEL SCROLL ---> */

/* <--- INICIO ESTILOS PARA LA VENTANA DE MESAJE DE LA APLICACIÓN ---> */
.fondo_msjAlertaMsj {
    background-color: rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-position: center;
    height: 173px;
    position: relative;
    width: 500px;
    border: 2px solid #979797;
    margin-top: 170px;
}

.tamano_ventanaAlerta{
    margin-top: 15px;
}

/* Formato para cuadro de texto */
.tipoNota {
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #000;
  color: #FFF;
  font-size: 22px;
  text-align: justify;
  padding: 10px;
}
/* <--- FIN ESTILOS PARA LA VENTANA DE MESAJE DE LA APLICACIÓN ---> */
