/* Titulo de platillos en menu */
.titleMenuBrek {
  margin-top: 15px;
  font-size: 20px;
  color: #FFF;
  background-color: #E86912;
  cursor: pointer;
  text-decoration: none;
  font-weight: 200;
  display: inline-flex;
}

.titleMenuMeal {
  margin-top: 15px;
  font-size: 20px;
  color: #FFF;
  background-color: #FF0000;
  cursor: pointer;
  text-decoration: none;
  font-weight: 200;
  display: inline-flex;
}

.titleMenuDinner {
  margin-top: 15px;
  font-size: 20px;
  color: #FFF;
  background-color: #B90CE8;
  cursor: pointer;
  text-decoration: none;
  font-weight: 200;
  display: inline-flex;
}

.base {
  position : relative;
}

.bordeMenu {
   padding: 0;
    margin: 2%;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
     display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

}

.espItem {
  margin-bottom: 80px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Recuadro que engloba la mesa */
.divOpcion {
    background: #b91d47;
    width: 200px;
    height: 180px;
    cursor: pointer;
    position: relative;
}

/* Estilo para imagenes del menu  */
.menuImg {
  max-width: 100%;
  height: 190px;
  box-sizing: border-box;
}

/* Estilo para el botón agregar en menú */
.botonMas {
  position : absolute;
  right : 0;
  top : 0;
}
/* Estilo para el botón de eliminar en menú */
.botonMenos {
  position : absolute;
  right : 5px;
  bottom : 5px;
}
/* Estilo para el botón de más información en menú */
.botonInfo {
  position : absolute;
  left : 5px;
  bottom : 5px;
}
/* Centrar el texto y lo justifica, para titulos del menu  */
.textoCentro {
  position : relative;
  color: #FFF;
  text-align: justify;
}
/* Estilo del precio de los items de menu */
.textoPrecio {
  position : relative;
  color : #da532c;
  text-align: end;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* Estilo de tabla para comanda en menu */
table {
  color : #FFF;
  border-collapse: collapse;
  width: 100%;
}

/* Cabeceras de tabla en comanda */
th {
  font-size: 22px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  margin-left: 5px;
}
/* Estilo para columna de cantidad */
.tCant {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/* Estilo de tabla */
td {
    padding: 8px;
    text-align: left;
}

table > tbody > tr > td {
  vertical-align: middle;
}

.btnBorrarPedido {
  background-color: #4453C1;
}

.notitaDeColor {
  background-color: #99A4C9;
}

.btnAdd {
  height: 35px;
  width: 35px;
  margin-left: -5px;
}

.btnDel {
  height: 35px;
  width: 35px;
}
